<div class="footercontainer">
    <div class="partnerscontainer">
        <div class="text-content d-flex flex-column justify-content-center align-items-center margin-vertical-20 partnertitle">
            Our Partners
        </div>
        <div class="row width400">
            <div class="col-lg-3 d-flex justify-content-center align-items-center mobileview50">
                <div class="sponser-container">
                    <img src="../../../assets/teams/dabang-delhi.png" class="sponser-img" />
                </div>
            </div>
            <div class="col-lg-3 d-flex justify-content-center align-items-center mobileview50">
                <div class="sponser-container">
                    <img src="../../../assets/teams/tamil-thalaivas.png" class="sponser-img" />
                </div>
            </div>
            <div class="col-lg-3 d-flex justify-content-center align-items-center mobileview50">
                <div class="sponser-container">
                    <img src="../../../assets/teams/bengal-warriors.png" class="sponser-img" />
                </div>
            </div>
            <div class="col-lg-3 d-flex justify-content-center align-items-center mobileview50">
                <div class="sponser-container">
                    <img src="../../../assets/teams/gujarat-gaints.png" class="sponser-img" />
                </div>
            </div>
        </div>
    </div>
    <div class="copyrightcontainer footer_link_wrap">
        <div class="textalignend about-us "><a href="https://www.sportzchain.com/" target="_blank">About Us</a></div>
        <div routerLink="/terms" class="textalignend  tos">Terms and conditions</div>
        <div routerLink="/privacy" class="textalignend privacy">Privacy Policy</div>
        <div class="footertext">
            &copy;2022 SPORTZCHAIN. All rights reserved. All names and logos are trademarks or registered trademarks of their respective owners.
        </div>
    </div>
</div>