<p style="margin-bottom: 0in; text-align: center; line-height: 17.85pt">
  <strong><span style="font-size: 17px; font-family: 'Arial', sans-serif; color: #ffffff">Terms and
      Conditions</span></strong>
</p>
<br>
<p
  style="text-align: justify; font-size: 17px;padding-left: 9%; padding-right: 9%; font-family: Arial, Helvetica, sans-serif;">
  Please read these terms and conditions carefully before continuing. You agree to comply by these terms and all other
  terms and relevant policies, as well as all relevant laws and regulations, by using or accessing our website. Never
  use this website unless you do agree to the following terms and conditions.
</p>
<br>
<p style="margin-bottom: 0in; line-height: 17.85pt;padding-left: 9%;">
  <strong><span style="font-size: 17px; font-family: 'Arial', sans-serif; color: #ffffff">MODIFICATION OF
      TERMS</span></strong>
</p>
<br>
<p
  style="text-align: justify; font-size: 17px;padding-left: 9%; padding-right: 9%; font-family: Arial, Helvetica, sans-serif;">
  We reserve the right, at any time and at its absolute discretion, to amend or revise the terms of service stated. We
  will notify you the changes or modifications by publishing the new Terms by giving such notification as we deem
  appropriate at the time. Any modifications or revisions will take effect as soon as they are posted on the Site, and
  they will apply to your continued use as well as access to the Site. Your continuous use or access of the Site
  indicates that you agree and give consent to the amendments or revisions. As a result, whenever you use or access the
  Site, you should read the Terms in its entirety to know the terms that apply to that use or access. You must stop
  using or accessing the Site if you do not agree to the Terms in effect at the time you use or access it.
</p>
<br>
<p style="margin-bottom: 0in; line-height: 17.85pt;padding-left: 9%;">
  <strong><span style="font-size: 17px; font-family: 'Arial', sans-serif; color: #ffffff">ELIGIBILITY</span></strong>
</p>
<br>
<p
  style="text-align: justify; font-size: 17px;padding-left: 9%; padding-right: 9%; font-family: Arial, Helvetica, sans-serif;">
  The information's provided in this website does not promote any particular asset or a transaction. Do not enter into
  any transactions unless you have fully understood all of the risks and have individually ascertained that such
  transactions are suitable for you. You accept these terms that you are fully capable and competent to enter into the
  terms, conditions, responsibilities, declarations, representations, and guarantees outlined in these Terms, as well as
  to comply by and respect with these Terms.
  If the client is a minor and below 18 years old, the users legal guardian is responsible for all actions and
  consequences resulting from the users actions on our platform, and we reserve the authority to terminate or freeze the
  users asset account, as well as file claims for compensation/damages against the client and the client's guardian.
</p>
<br>
<p style="margin-bottom: 0in; line-height: 17.85pt;padding-left: 9%;">
  <strong><span style="font-size: 17px; font-family: 'Arial', sans-serif; color: #ffffff">ACCOUNT
      CREATION</span></strong>
</p>
<br>
<p
  style="text-align: justify; font-size: 17px;padding-left: 9%; padding-right: 9%; font-family: Arial, Helvetica, sans-serif;">
  While using our Service, you are responsible for maintaining your account secure. We provide tools to help you keep
  your account secure, but the content and security of your account are entirely up to you.
  It is your responsibility to keep your login and password secure. We are not responsible for any loss or damage
  incurred to your account as a result of your fail to abide with this security obligation. Assuming you become mindful
  of any unapproved utilization, or admittance to, our Service through your record, including any unapproved utilization
  of your secret password or unauthorized usage of the account you should quickly contact us.
</p>
<br>
<p style="margin-bottom: 0in; line-height: 17.85pt;padding-left: 9%;">
  <strong><span style="font-size: 17px; font-family: 'Arial', sans-serif; color: #ffffff">USER CONTENTS</span></strong>
</p>
<br>
<p
  style="text-align: justify; font-size: 17px;padding-left: 9%; padding-right: 9%; font-family: Arial, Helvetica, sans-serif;">
  a) The users are solely responsible for the security of your User Content and any non-public information they provide.
  Moreover, any and all activities that occur under the users account on the Site are entirely the
  user’s responsibility. The users must immediately report to any unauthorised use of the User Content, login, or any
  other security breach.  We are not liable for any damage or damages the users may suffer as a result of someone else
  using the user  Content or account, whether with or without the users knowledge. The users, however, be held
  accountable for losses incurred by us or another party as a result of someone else accessing the user content or
  account. Users may not use another person's or entity's user Content or account without that person's or entity's
  permission at any time.
  <br>
  <br>
  b) If you submit, upload, input, store, provide, or submit your personal data to or via the Site, including any
  restriction, your name, email address, IP address, crypto currency address, text, code, data, information, photos,
  video, graphics, music, sound, messages, or other details and materials, You are solely subject to liability for
  almost all of your User Content, as well as your use of any interactive features, links, details, or content on the
  Site, and you represent and warrant that (i) you own all intellectual property rights (or have obtained all necessary
  permissions) to provide your User Content and grant the licences in respect of your User Content; (ii) your User
  Content will not violate any agreements or confidentiality obligations; and (iii) your Usage will not violate any
  agreements or confidentiality obligations.
  <br>
  <br>
  c) You give us and any required sub-licensees a non-exclusive, internationally, continual licence, right and
  authorization to use, replicate, copy, edit, modify, translate, reconfigure, create derivative works from,
  disseminate, transfer, publicly perform and publicly declare your user Information and to sub-license such privileges
  to others by submitting, transferring, entering, storing, supplying, or submitting your user information to us or
  through or on the Site.
  <br>
  <br>
  d) You must notify us of any modifications to your User Content by correcting your personal information and contacting
  us so that we can communicate with you efficiently and provide accurate & up-to-date information. At your sole
  responsibility and expense, you are solely responsible for making backup copies and replacing any User Content you
  post or keep on the Site.
  <br>
  <br>
  e) If you come across any User Content that you feel is in breach of these Terms, please notify us. The implementation
  of the Terms, on the other hand, is exclusively at our authority, and our failing to enforce the Conditions in some
  cases does not imply that we will not execute the Terms in other cases. Furthermore, these Conditions do not give any
  third party a private right of action or any reasonable expectation or assurance that the Site will not include any
  content forbidden by the Terms.
  <br>
  <br>
  f) We reserve the right to terminate, screen, or modify User Content at our sole discretion, notwithstanding the fact
  that we have no obligation to filter, edit, or supervise any User Information. Furthermore, if we have reasonable
  grounds to suspect that a security breach, violation, or misuse of the Site is possible, or if you break any of your
  obligations under these Terms, we may suspend or terminate your use of or access to the Site at any time and for any
  reason.
</p>
<br>
<p style="margin-bottom: 0in; line-height: 17.85pt;padding-left: 9%;">
  <strong><span style="font-size: 17px; font-family: 'Arial', sans-serif; color: #ffffff">INTELLECTUAL PROPERTY
      RIGHTS</span></strong>
</p>
<br>
<p style="margin-bottom: 0in; line-height: 17.85pt;padding-left: 13%;">
  <strong><span style="font-size: 17px; font-family: 'Arial', sans-serif; color: #ffffff">A. Trade Marks</span></strong>
</p>
<br>
<p
  style="text-align: justify; font-size: 17px;padding-left: 9%; padding-right: 9%; font-family: Arial, Helvetica, sans-serif;">
  All other registered trademarks, brand names, and trade names or logos mentioned on the Website are the property of
  the owner and may not be duplicated, replicated, or even used in whole or in part without prior approval from the
  trademark owner. <br>
  The Company and others' logos, trademarks, service marks, and logos used shown on the website ("Trademarks") are the
  property of the Company and their respective owners. Without our written permission, you may not copy, replicate, or
  use them.
</p>
<br>
<p style="margin-bottom: 0in; line-height: 17.85pt;padding-left: 13%;">
  <strong><span style="font-size: 17px; font-family: 'Arial', sans-serif; color: #ffffff">B. Copyright and limited
      license </span></strong>
</p>
<br>
<p
  style="text-align: justify; font-size: 17px;padding-left: 9%; padding-right: 9%; font-family: Arial, Helvetica, sans-serif;">
  The logo and all designs, pictures, graphics, texts, information, data, software, sound files, other files are the
  proprietary property of us or its licensors and are protected by national and international copyright laws.
  The users of the site are granted a limited, non-sub licensable, and non-transferable licence to use and access the
  website and the Site Materials. The License doesn’t allow
</p>
<p
  style="text-align: justify; font-size: 17px;padding-left: 11%; padding-right: 11%; font-family: Arial, Helvetica, sans-serif;">
  a) The dissemination, display, or exhibition of any Site Materials in public <br>
  b) Any commercial or resale of the Site or Site Materials, <br>
  c) Downloading any part of the Site, the Site Materials, or any data included therein (other than page caching).
  Unauthorized usage could also be in violation of applicable laws, such as copyright and trademark laws, as well as
  applicable communications rules and legislation. This licence can be revoked at any moment, with or without notice.
  <br>
  d) The use of data mining, robotics, or other equivalent data collection or extraction techniques,<br>
  e) Any use of the Site or Site Materials other than for the purpose for which they were created,<br>
  f) Altering or making derivative uses of the Site and the Site Materials, in whole or in part<br>
</p>
<br>
<p style="margin-bottom: 0in; line-height: 17.85pt;padding-left: 9%;">
  <strong><span style="font-size: 17px; font-family: 'Arial', sans-serif; color: #ffffff">PROHIBITION OF
      USE</span></strong>
</p>
<br>
<p
  style="text-align: justify; font-size: 17px;padding-left: 9%; padding-right: 9%; font-family: Arial, Helvetica, sans-serif;">
  The site must used only for its originally stated purpose. The site must not be used for the following Activities:
</p>
<p
  style="text-align: justify; font-size: 17px;padding-left: 11%; padding-right: 11%; font-family: Arial, Helvetica, sans-serif;">
  a) Unlawful activity <br>
  b) Fraud <br>
  c) Gambling <br>
  d) Intellectual property infringement; or <br>
  e) Defamation or abuse. <br>
  f) Spreading of false information <br>
  g) Terrorist financing <br>
  h) Money laundering <br>
  i) Distributing or funding drugs and drug paraphernalia or <br>
  j) Malicious hacking <br>
</p>
<br>
<p style="margin-bottom: 0in; line-height: 17.85pt;padding-left: 9%;">
  <strong><span style="font-size: 17px; font-family: 'Arial', sans-serif; color: #ffffff">REPRESENTATIONS AND WARRANTIES
    </span></strong>
</p>
<br>
<p
  style="text-align: justify; font-size: 17px;padding-left: 9%; padding-right: 9%; font-family: Arial, Helvetica, sans-serif;">
  The Client represents and warrants to us that:
</p>
<p
  style="text-align: justify; font-size: 17px;padding-left: 11%; padding-right: 11%; font-family: Arial, Helvetica, sans-serif;">
  a) The user will not Display, post, or communicate anything that promotes criminal or civilly punishable behaviour or
  otherwise violates or breaches any relevant laws, rules, or code of conduct. <br>
  b) The User will not avoid paying taxes or fees, and will not break any of the terms of this agreement or any laws and
  regulations. <br>
  c) The user will not publish, send, upload, submit, exhibit, or distribute any type of information that is unlawful,
  discriminatory, abusive, libellous, defamatory, violent, frightening, injurious, abusive, obscene, or otherwise
  objectionable. <br>
  d) The user will not Interfere with or breach others' legal rights such as privacy and publicity rights and violate
  any applicable laws and regulations. <br>
  e) The user will not use the site or links on the site in any way that could disrupt, harm, or prevent other users
  from using the site or links on the Site, or that could harm, damage, overload, or hinder the Site, our servers, or
  any connections linked to any of our servers in any way <br>
  f) The user will not Create a false identity for the intention of deceiving others, or illegitimately or otherwise
  misrepresent yourself as another person or a representative of another entity, such as an authorised user of the Site
  or our representative, or fraudulently or otherwise misrepresent your affiliation with a person, entity, or group <br>
  g) The user will not send, publish, exhibit, disseminate, and otherwise make content available that contains or is
  associated with spam, junk mail, pyramid scheme marketing, junk mail, virus cautions (before even confirming the
  truthfulness of the caution), or any other form of unapproved advertisements and marketing material <br>
  h) The user will not be providing inaccurate or false information, including omissions of information, mislead or
  deceive us, our representatives, and any third parties who may rely on the information you provide. <br>
  i) The user will not indulge in violation, infringement, misappropriation of any person's intellectual or industrial
  property right (such as copyright, trademarks, patents, or trade secrets, or other proprietary rights of any party).
  <br>
  j) The user will not attempt to bypass measures employed to prevent or limit your access to any content, area, or
  functionality of the Site that you are prohibited or restricted from accessing, or bypass measures employed to prevent
  or limit your access to any content, area, or functionality of the Site that you are barred or restrained from
  accessing. <br>
  k) The user will not collect or otherwise gather data on others, including e-mail addresses, whether aggregated or
  otherwise, and/or disseminate or monetize such data and information. <br>
  l) The user will not upload files that is containing malware, Trojan horses, worms, time bombs, cancel bots, corrupted
  files, or any other similar software or programmes that could harm another's computer or property. <br>
  m) The user will not obtain unauthorized entry to interfere with the operation of the servers that host the Site or
  offer the services on the Site, or any servers on any linked networks, or otherwise violate any policies or procedures
  relating to the usage of those servers. <br>
  n) The user will not be attempting to gain unauthorized entry to any services or goods, other users, computer
  networks, or systems connected to any of our servers by hacking, password mining, or any other means; <br>
  o) The user will not acquire or try to obtain any information or content not given access on the Site or through its
  services. <br>
  p) The user will not do anything else that could cause the Platform or other users' operations to be disrupted or
  negatively impacted.
</p>
<p style="margin-bottom: 0in; line-height: 17.85pt;padding-left: 9%;">
  <strong><span style="font-size: 17px; font-family: 'Arial', sans-serif; color: #ffffff">EXTERNAL
      WEBSITES</span></strong>
</p>
<br>
<p
  style="text-align: justify; font-size: 17px;padding-left: 9%; padding-right: 9%; font-family: Arial, Helvetica, sans-serif;">
  We may provide connections to third-party websites or services that we do not own or control as part of our Service.
  We have no control over, and disclaim any responsibility for, the content, privacy policies, or practises of any
  third-party web sites or services. You further agree that we are not responsible or liable, directly or indirectly,
  for any damage or loss caused or alleged to be caused by or in connection with the use of or reliance on any such
  content, goods, or services available on or from any such web sites or services. We strongly advise you to read the
  terms and conditions of any third-party web sites or services you use, as well as their privacy policies.
</p>
<br>
<p style="margin-bottom: 0in; line-height: 17.85pt;padding-left: 9%;">
  <strong><span style="font-size: 17px; font-family: 'Arial', sans-serif; color: #ffffff">HYPER LINKS</span></strong>
</p>
<br>
<p
  style="text-align: justify; font-size: 17px;padding-left: 9%; padding-right: 9%; font-family: Arial, Helvetica, sans-serif;">
  You have a limited right to create a text hyperlink to the Site; however, such a hyperlink must not portray us or the
  Site in a false, misleading, overly critical, or otherwise slanderous light, and it must not contain any illegitimate
  material or material that is hostile, bugging, mature, or otherwise frightening. This limited right could be revoked
  at any time and without warning. Without our express written permission, you may not use any of our Trademarks to
  connect to the Site. Furthermore, without our express written consent, you may not use, outline, or use outlining
  procedures to encase any of our brand name, logo, or other proprietary data, including the pictures found on the Site,
  the content of any message, or the format/plan of any page or structure contained on a page of the site. Aside from
  what is stated above, you are not granted any right or permit by implication, estoppels, or otherwise in or under any
  patent, brand name, copyright, or other restriction right held by us or a third party.
</p>
<br>
<p style="margin-bottom: 0in; line-height: 17.85pt;padding-left: 9%;">
  <strong><span style="font-size: 17px; font-family: 'Arial', sans-serif; color: #ffffff">FEEDBACKS</span></strong>
</p>
<br>
<p
  style="text-align: justify; font-size: 17px;padding-left: 9%; padding-right: 9%; font-family: Arial, Helvetica, sans-serif;">
  We will own complete ownership to the Feedback, including all intellectual property rights, and will also be free to
  use and distribute it for any reason, commercial or otherwise, without acknowledgment or remuneration to you. We do,
  however, recognise and reward constructive comments. User Content is not included in feedback. You agree and
  acknowledge that any materials, include but are not restricted to queries, remarks, responses, recommendations,
  concepts, proposals, notes, illustrations, original or innovative materials, or other information, that you provide to
  us or the Site are non-confidential and will become our sole property, whether provided by email, posting to the Site,
  or otherwise, are non-confidential and will become our sole property.
</p>
<br>
<p style="margin-bottom: 0in; line-height: 17.85pt;padding-left: 9%;">
  <strong><span style="font-size: 17px; font-family: 'Arial', sans-serif; color: #ffffff">AGGREGATE
      INFORMATION</span></strong>
</p>
<br>
<p
  style="text-align: justify; font-size: 17px;padding-left: 9%; padding-right: 9%; font-family: Arial, Helvetica, sans-serif;">
  We might accumulate data and aggregately pretty much all clients of or guests to the Site which might incorporate the
  data provided by you. This data assists us with ceaselessly working on the Site to more readily address the issues of
  the users. We might impart this sort of total information to choose outsiders to help with these reasons. Individual
  information is handled by us as per our Privacy Policy.
</p>
<br>
<p style="margin-bottom: 0in; line-height: 17.85pt;padding-left: 9%;">
  <strong><span
      style="font-size: 17px; font-family: 'Arial', sans-serif; color: #ffffff">INDEMNIFICATION</span></strong>
</p>
<br>
<p
  style="text-align: justify; font-size: 17px;padding-left: 9%; padding-right: 9%; font-family: Arial, Helvetica, sans-serif;">
  You agree to indemnify and hold us, our affiliates, subsidiaries, group companies (as applicable), and their
  respective officers, directors, agents, and employees harmless from any claim or demand, or actions, including
  reasonable attorneys' fees, made by any third party or penalty imposed due to or arising out of :</p>
<p
  style="text-align: justify; font-size: 17px;padding-left: 11%; padding-right: 11%; font-family: Arial, Helvetica, sans-serif;">
  a) Your use of our Services <br>
  b) Your violation of these Terms <br>
  c) Your violation of any law, rule, or regulation, or of a third party's rights (including intellectual property
  rights). <br>
</p>
<br>
<p style="margin-bottom: 0in; line-height: 17.85pt;padding-left: 9%;">
  <strong><span style="font-size: 17px; font-family: 'Arial', sans-serif; color: #ffffff">DISCLAIMER OF
      WARRANTIES</span></strong>
</p>
<br>
<p
  style="text-align: justify; font-size: 17px;padding-left: 9%; padding-right: 9%; font-family: Arial, Helvetica, sans-serif;">
  We expressly disclaim liability for errors or omissions in the materials and information, and we do not guarantee the
  accuracy, adequacy, or completeness of the information and materials on the site). We disclaim any and all liability
  for errors or omissions in the materials and information, and we do not warrant the accuracy, adequacy, or
  completeness of the information and materials on the site. We cannot and do not guarantee or promise that the site or
  its server(s) are free of viruses or other harmful features, while we make every effort to ensure the security of your
  use of the site. in accordance with applicable laws and regulations, nothing herein shall be interpreted as limiting
  or minimizing our duties and roles to clients.
</p>
<br>
<p style="margin-bottom: 0in; line-height: 17.85pt;padding-left: 9%;">
  <strong><span style="font-size: 17px; font-family: 'Arial', sans-serif; color: #ffffff">LIMITATION OF
      LIABILITY</span></strong>
</p>
<br>
<p
  style="text-align: justify; font-size: 17px;padding-left: 9%; padding-right: 9%; font-family: Arial, Helvetica, sans-serif;">
  We, our directors, employees, partners, agents, suppliers, or affiliates will not be liable for any indirect,
  incidental, special, consequential, or punitive damages, including without limitation, lost profits, data, use,
  goodwill, or other intangible losses, resulting from :</p>
<p
  style="text-align: justify; font-size: 17px;padding-left: 11%; padding-right: 11%; font-family: Arial, Helvetica, sans-serif;">
  a) your ability to access or utilise the Service, or your inability to do so <br>
  b) any third-party behaviour or content on the Service <br>
  c) any content obtained from the Service
</p>
<br>
<p style="margin-bottom: 0in; line-height: 17.85pt;padding-left: 9%;">
  <strong><span style="font-size: 17px; font-family: 'Arial', sans-serif; color: #ffffff">FORCE MAJURE</span></strong>
</p>
<br>
<p
  style="text-align: justify; font-size: 17px;padding-left: 9%; padding-right: 9%; font-family: Arial, Helvetica, sans-serif;">
  “Force Majeure” shall mean and include any cause arising from or attributable to acts, or events, beyond the
  reasonable control of us, including natural calamity, strikes, terrorist action or threat, civil commotion, riot,
  crowd disorder, invasion, war, a threat of or preparation for war, fire, explosion, storm, flood, earthquake,
  subsidence, structural damage, epidemic or other natural disasters, calamity, attacks including through computer
  viruses, hacking, denial of service attacks, ransom ware or other manmade disruptions or any law, order enactment,
  statutory direction, legislation, regulation, rule or ruling of government or any court of law or of a Government or
  regulatory authority. <br>
  Services offered by us are only available in the digital domain, which is vulnerable to threats such as offensive
  attacks. We will not be liable for any loss to the User's account or the funds or Crypto Assets held therein if the
  loss is caused by a Force Majeure event, such as third-party commissions or omissions, forces of nature, offensive
  attacks on our servers or users' personal devices, changes in applicable law, or any loss caused by conditions or
  events beyond our reasonable control. <br>
  We will not be responsible for any loss incurred by a User as a result of a data breach of the User's confidential
  information, such as the user account details or password, even if the breach occurred as a result of the User sharing
  such information with third parties or due to the User's failure to exercise reasonable due diligence. We will not be
  held liable or accountable for any exposure of user account information by User, including as a result of a phishing
  attack or other third-party disruption.
</p>
<br>
<p style="margin-bottom: 0in; line-height: 17.85pt;padding-left: 9%;">
  <strong><span style="font-size: 17px; font-family: 'Arial', sans-serif; color: #ffffff">WAIVER AND
      SEVERABILITY</span></strong>
</p>
<br>
<p
  style="text-align: justify; font-size: 17px;padding-left: 9%; padding-right: 9%; font-family: Arial, Helvetica, sans-serif;">
  A party's omission to exercise or delay in exercising any right granted to them by or under this agreement does not
  constitute a waiver of that right, which the party may exercise at any time in the future.
  If any provision of these Terms of Use is void, voidable by a party, unenforceable, invalid, or illegal but not if a
  word or words were omitted, that word or words must be severed, and if that is not possible, the entire provision must
  be severed from these Terms of Use without affecting the validity or enforceability of the remaining provisions.
</p>
<br>
<p style="margin-bottom: 0in; line-height: 17.85pt;padding-left: 9%;">
  <strong><span style="font-size: 17px; font-family: 'Arial', sans-serif; color: #ffffff">TERMINATION</span></strong>
</p>
<br>
<p
  style="text-align: justify; font-size: 17px;padding-left: 9%; padding-right: 9%; font-family: Arial, Helvetica, sans-serif;">
  We reserve the right to terminate or suspend your account at any time, without warning or liability, for any reason,
  including but not limited to if you violate the Terms. Your permission to use the Service will be terminated
  immediately upon termination. You may immediately stop using the Service if you want to close your account.
  If your User Account is terminated, deactivated, or cancelled, your access to the Online Platforms may be interrupted,
  and your User Account may be terminated, deactivated, or cancelled with immediate effect for the following reasons.
</p>
<p
  style="text-align: justify; font-size: 17px;padding-left: 11%; padding-right: 11%; font-family: Arial, Helvetica, sans-serif;">
  a) In the User Account, we see strange activity. <br>
  b) If there is an infringement of any terms of this user agreement <br>
  c) During unapproved access to the User Account <br>
  d) An order from a court/regulatory/government and/or statutory body or authority requires us to do so. <br>
</p>
<br>
<p style="margin-bottom: 0in; line-height: 17.85pt;padding-left: 9%;">
  <strong><span style="font-size: 17px; font-family: 'Arial', sans-serif; color: #ffffff">GOVERNING LAWS</span></strong>
</p>
<br>
<p
  style="text-align: justify; font-size: 17px;padding-left: 9%; padding-right: 9%; font-family: Arial, Helvetica, sans-serif;">
  Without respect to its conflict of law rules, these Terms will be governed and construed in accordance with the laws
  of India Our failure to enforce any of these Terms rights or provisions will not be construed as a waiver of those
  rights. If a court rules that any provision of these Terms is unlawful or unenforceable, the remaining provisions will
  continue in effect.
</p>
<br>
<p style="margin-bottom: 0in; line-height: 17.85pt;padding-left: 9%;">
  <strong><span style="font-size: 17px; font-family: 'Arial', sans-serif; color: #ffffff">COMPLAINTS AND
      CONTACT</span></strong>
</p>
<br>
<p
  style="text-align: justify; font-size: 17px;padding-left: 9%; padding-right: 9%; font-family: Arial, Helvetica, sans-serif;">
  Please contact us if you have any questions and complaints about these terms and conditions, your rights and duties
  resulting from these terms and conditions or your use of the website and service, your account, or anything else.
</p>