<div class="row mt-4 mb-2 reward-container">
    <div class="d-flex justify-content-start align-items-start">
        <i class="fa fa-key fa-2x margin-right-icon" aria-hidden="true"></i>
        <!-- <i class="fa fa-user-plus fa-2x margin-right-icon"></i> -->
        <div class="ml-2 sub-title">Change Password</div>
    </div>
    <form 
    [formGroup]="changePasswordForm"
    (ngSubmit)="onSubmit()"
    >
        <div class="col-lg-12">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">

                    </div>
                    <div class="col-lg-6 mt-2">
                        <div class="form-group">
                            <label for="currentPassword">Enter your Current password</label>
                            <input type="password" formControlName="currentPassword" class="form-control custom-control" id="currentPassword" placeholder="Enter Password">          
                        </div>
                    </div>
                    <div class="col-lg-3">

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">

                    </div>
                    <div class="col-lg-6 mt-2">
                        <div class="form-group">
                            <label for="intialPassword">Enter your new password</label>
                            <input type="password"  formControlName="intialPassword" class="form-control custom-control" id="intialPassword" placeholder="Enter Password">          
                        </div>
                    </div>
                    <div class="col-lg-3">

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">

                    </div>
                    <div class="col-lg-6 mt-2">
                        <div class="form-group">
                            <label for="confirmPassword">Re-enter your new password</label>
                            <input type="password"  formControlName="confirmPassword" class="form-control custom-control" id="confirmPassword" placeholder="Enter Same Password">
                            <!-- <small id="emailHelp" class="form-text text-muted">Password length should be alphanumeric and between 8 to 15</small> -->
                        </div> 
                    </div>
                    <div class="col-lg-3">

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">

                    </div>
                    <div class="col-lg-6 mt-4 mb-4 d-flex justify-content-center align-items-center">
                        <button type="submit" class="btn btn-sm all-button">
                            <div *ngIf="isLoading" class="spinner-border  spinner-border-sm text-warning" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            Change Password
                        </button>
                    </div>
                    <div class="col-lg-3">

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>