.title {
    font-size: 50px;
    font-weight: bold;
}

.sub-title {
    font-size: 23px;
    font-weight: 600;
}

.reward-container {
    background: radial-gradient(circle at 10% 10%, rgba(71, 71, 71, 0.35) 0%, rgba(71, 71, 71, 0.35) 100%);
    border-radius: 5px;
    padding: 15px;
}


.custom-control {
    border: 2px solid rgb(255, 255, 255) !important;
    background: none transparent !important;
    color: rgb(255, 255, 255) !important;
    width: 500px;
    border-radius: 5px;
}

.copy {
    margin-left: 10px;
    cursor: pointer;
}

.social-media-rectangle {
    height: 46px;
    width: 116px;
}

.ml-2 {
    margin-left: 20px;
}

.table {
    color: white;
}

.all-button {
    background: -webkit-linear-gradient(left, rgb(232, 150, 46) 0%, rgb(228, 81, 49) 100%);
    color: white;
    width: 40%;
    font-size: medium;
    font-weight: 600;
}