<div class="container">
    <div class="row  mt-4 mb-4">
        <div class="col-lg-12 mt-4 mb-4">
            <div class="reset-text">
                Reset Password
            </div>
            <div class="forget-text">
                We all forget...
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">

        </div>
        <div class="col-lg-6">
            <div class="form-container ml-2">
                <div *ngIf="firstStep">

                    <div class="form-group mt-2 mb-2">
                        <label for="email">Step 1 : Enter your email address</label>
                        <input type="email" [(ngModel)]="emailAddress" class="form-control custom-control mt-2" id="email" aria-describedby="emailHelp" placeholder="Enter your email address">
                    </div>

                    <div class="mt-4 d-flex">
                        <button type="button" (click)="sendOtp()" class="btn btn-sm all-button margin-right">
                            <div *ngIf="isLoading" class="spinner-border  spinner-border-sm text-warning" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            Send OTP
                        </button>
                        <div class="justify-content-end align-items-end">
                            <a (click)="alreadyOtpExists()" class="already-otp">Already have OTP?</a>
                        </div>
                    </div>
                </div>
                <form *ngIf="!firstStep" [formGroup]="resetForm" (ngSubmit)="onSubmit()">
                    <div class="form-group mt-2  mb-2">
                        <label for="otp">Step 2: Enter the OTP received in email</label>
                        <input type="otp" formControlName="otp" class="form-control custom-control mt-2" id="otp" aria-describedby="otpHelp" placeholder="Enter the OTP">
                    </div>

                    <div class="form-group mt-2  mb-2">
                        <label for="intialPassword">Enter your new password</label>
                        <input type="password" formControlName="intialPassword" class="form-control custom-control" id="intialPassword" placeholder="Enter Password">
                    </div>

                    <div class="form-group mt-2  mb-2">
                        <label for="confirmPassword">Re-enter your new password</label>
                        <input type="password" formControlName="confirmPassword" class="form-control custom-control" id="confirmPassword" placeholder="Enter Same Password">
                    </div>
                    <div class="mt-4 d-flex">
                        <button type="submit" class="btn btn-sm all-button margin-right">
                            <div *ngIf="isLoading" class="spinner-border  spinner-border-sm text-warning" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            Change Password
                        </button>
                        <div class="justify-content-end align-items-end">
                            <a (click)="goBack()" class="already-otp">Go Back</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
        <div class="col-lg-3">

        </div>
    </div>
</div>