<!--<div class="timer">
    <span id="days"> {{daysToDday}} </span>Day(s)
    <span id="hours"> {{hoursToDday}} </span>Hrs
    <span id="minutes"> {{minutesToDday}} </span>Min
    <span id="seconds"> {{secondsToDday}} </span>S
</div> -->

<ul class="countdowntimer">
    <li class="timertext"><span id="showdays">{{daysToDday}}</span>days</li>
    <li class="timertext"><span id="showhours">{{hoursToDday}}</span>Hours</li>
    <li class="timertext"><span id="showminutes">{{minutesToDday}}</span>Minutes</li>
    <li class="timertext"><span id="showseconds">{{secondsToDday}}</span>Seconds</li>
</ul>